<a href="https://colab.research.google.com/github/imswabhab/Projects-ML/blob/master/Email_spam_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing relevant libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/mydrive')

Drive already mounted at /content/mydrive; to attempt to forcibly remount, call drive.mount("/content/mydrive", force_remount=True).

In [0]:
#importing the dataset
raw_data = pd.read_csv('/content/mydrive/My Drive/Colab Notebooks/spam.csv')

In [0]:
#making a copy of raw_data

data = raw_data.copy()

In [5]:
data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data.tail(10)

     Label                                          EmailText
5562   ham  Ok lor... Sony ericsson salesman... I ask shuh...
5563   ham                                Ard 6 like dat lor.
5564   ham  Why don't you wait 'til at least wednesday to ...
5565   ham                                       Huh y lei...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [7]:
data.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
#checking for missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
Label        5572 non-null object
EmailText    5572 non-null object
dtypes: object(2)
memory usage: 87.2+ KB

In [0]:
x = data["EmailText"]
y = data["Label"]

In [0]:
#splitting the data into train and test
from sklearn.model_selection import train_test_split
(x_train,x_test,y_train,y_test)= train_test_split(x,y,test_size = 0.2)

In [11]:
x_train.shape

(4457,)

In [12]:
x_test.shape

(1115,)

In [0]:
# extracting features by using countvectorizer

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
features = cv.fit_transform(x_train)

In [14]:
# fitting the model

from sklearn.svm import SVC
model = SVC()
model.fit(features,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [0]:
# aplllying countvectorizer in x_test

test_features = cv.fit_transform(x_test)

In [16]:
#chehcking the score

model.score(features,y_train)

0.9955126766883554

In [17]:
print(" Accuracy of the model is :" , model.score(features,y_train))

 Accuracy of the model is : 0.9955126766883554